# npm & node modules
node_modules
npm-debug.log

# Bower components
/web/components

# Sass
.sass-cache

# App build
/web/build.html
/web/build.js

# Node webkit build
/build

# Env config
/config/app.json
