# npm & node modules
node_modules
npm-debug.log

# Bower components
/app/components

# Sass
.sass-cache

# App build
/app/build.html
/app/build.js

# Node webkit build
/build

# Env config
/app/config/app.json
