# npm & node modules
node_modules
npm-debug.log

# Bower components
/public/components

# Sass
.sass-cache

# App build
/public/build.html
/public/build.js

# Node publickit build
/build

# Env config
/config/app.json
