/* line 1, twitter-stream.scss */
:host {
  margin: auto;
  min-width: 400px;
  overflow: auto;
}

/* line 7, twitter-stream.scss */
#tweets {
  max-width: 600px;
  margin: auto;
  padding: 20px;
}

/* line 13, twitter-stream.scss */
.tweet {
  display: block;
  border-radius: 5px;
  border: 1px solid #aaa;
  padding: 12px;
  margin-bottom: 15px;
  cursor: pointer;
}
