:host {
  margin: auto;
  min-width: 400px;
}

form {
  margin-top: 30px;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 5px;
  box-shadow: 3px 3px 3px rgba(0, 0, 0, 0.2);
}

core-input {
  border: 1px solid #444;
}

label {
  padding-right: 10px;
}