/* line 1, global.scss */
body {
  font-family: Arial;
  font-size: 14px;
}

/* line 6, global.scss */
site-progress {
  width: 100%;
}

/* line 10, global.scss */
site-progress::shadow #activeProgress {
  background-color: #fff;
}

/* line 14, global.scss */
site-progress::shadow #progressContainer {
  background-color: #4F7DC9;
}
