:host {
  margin: auto;
  max-width: 400px;
  display: block;
}

form {
  padding: 20px;
  border: 1px solid #bbb;
  border-radius: 5px;
  box-shadow: 3px 3px 3px rgba(0, 0, 0, 0.2);
  -webkit-animation-duration: .6s;
  -webkit-animation-name: slidein;
  &.fadeout {
    -webkit-animation-duration: .6s;
    -webkit-animation-name: fadeout;
    -webkit-animation-fill-mode: forwards;
  }
}

core-input {
  border: 1px solid #444;
}

label {
  padding-right: 10px;
}

.help {
  margin-top: 0;
}

@-webkit-keyframes slidein {
  from {
    -webkit-transform: translate(0, 100%);
    opacity: 0;
  }
  to {
    -webkit-transform: translate(0, 0);
    opacity: 1;
  }
}

@-webkit-keyframes fadeout {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}