/* line 1, site-banner.scss */
:host {
  background: #4F7DC9;
  color: #FFF;
  font-size: 16px;
  padding: 20px;
}

/* line 8, site-banner.scss */
h1 {
  margin: 0;
}
/* line 10, site-banner.scss */
h1 a {
  color: #fff;
  text-decoration: none;
}
