/* line 1, site-spinner.scss */
.spinner {
  margin: auto;
  width: 50px;
  height: 30px;
  text-align: center;
  font-size: 10px;
}

/* line 9, site-spinner.scss */
.spinner > div {
  background-color: #bbb;
  height: 100%;
  width: 6px;
  display: inline-block;
  -webkit-animation: stretchdelay 1.2s infinite ease-in-out;
  animation: stretchdelay 1.2s infinite ease-in-out;
}

/* line 18, site-spinner.scss */
.spinner .rect2 {
  -webkit-animation-delay: -1.1s;
  animation-delay: -1.1s;
}

/* line 23, site-spinner.scss */
.spinner .rect3 {
  -webkit-animation-delay: -1.0s;
  animation-delay: -1.0s;
}

/* line 28, site-spinner.scss */
.spinner .rect4 {
  -webkit-animation-delay: -0.9s;
  animation-delay: -0.9s;
}

/* line 33, site-spinner.scss */
.spinner .rect5 {
  -webkit-animation-delay: -0.8s;
  animation-delay: -0.8s;
}

@-webkit-keyframes stretchdelay {
  /* line 39, site-spinner.scss */
  0%, 40%, 100% {
    -webkit-transform: scaleY(0.4);
  }

  /* line 42, site-spinner.scss */
  20% {
    -webkit-transform: scaleY(1);
  }
}

@keyframes stretchdelay {
  /* line 48, site-spinner.scss */
  0%, 40%, 100% {
    transform: scaleY(0.4);
    -webkit-transform: scaleY(0.4);
  }

  /* line 52, site-spinner.scss */
  20% {
    transform: scaleY(1);
    -webkit-transform: scaleY(1);
  }
}
