:host {
  min-width: 400px;
  overflow: auto;
}

#tweets {
  max-width: 600px;
  margin: 15px auto;
  border-radius: 5px;
  border: 1px solid #aaa;
  footer {
    text-align: center;
    padding: 20px;
  }
}

.tweet {
  display: block;
  padding: 12px;
  cursor: pointer;
  border-bottom: 1px solid #ccc;
  &:hover {
    background: #eee;
  }
}