/* line 1, site-progress.scss */
:host {
  width: 100%;
}

/* line 5, site-progress.scss */
#activeProgress {
  background-color: #4F7DC9;
}

/* line 9, site-progress.scss */
#secondaryProgress {
  background-color: #69A1FF;
}
